.navcom {
    height: 100%;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__link {
        color: $text;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}