.btn-follow {
    width: 70px !important;
    height: 30px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recomend-img {
    width: 35px;
    margin-top: 1.5px;
    border-radius: 100%;
}

.username {
    font-size: 15px;
    margin-bottom: -9px !important;
}

.user {
    font-size: 13px;
    color: $text-second;
}