body {
    background-color: $primary !important;
    color: $text !important;
    height: 100% !important;
    width: 100% !important;
}

input {
    background-color: $secondary !important;
}

textarea {
    background-color: $secondary !important;
}

textarea::placeholder {
    color: gray !important;
}

input::placeholder {
    color: gray !important;
}

a {
    color: $text-second;
    cursor: pointer;
}

i {
    cursor: pointer;
}

:root {
    .col-2 {
        padding: 0px !important;
    }
}

:root {
    .btn {
        padding: 0px !important;
        font-weight: normal;
        width: 82px;
        // height: 23px;
    }

    .btn-primary {
        padding: 9px !important;
        padding-top: 0px;
        background-color: $action-primary;
        border: 0;
    }

    .btn-secondary {
        padding: 9px !important;
        padding-top: 0px;
        background-color: $text-second;
        border: 0;
    }
}

hr {
    color: $text-second !important;
}

li {
    list-style: none;
}

:root {
    .card-primary {
        background-color: $secondary !important;
    }
}